* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
  margin: 20px auto;
  border: 1px solid;
  padding: 20px;
}
.formulario form {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.formulario input {
  padding: 10px;
}
.formulario button {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mensagem {
  color: red;
}
.erro {
  border-color: red;
}
